### Import Libraries

In [1]:
import pandas as pd
import random
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelBinarizer
import pickle

### Load and explore the data (4 marks)

In [2]:
df = pd.read_csv('product-cat-dataset.csv')
df.head(10)

                                         Description   Level_1 Level_2 Level_3
0  gerb cap help keep littl on head cov warm day ...  09BF5150   C7E19    D06E
1  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6    98CF
2  tut ballet anym leap foxy fash ruffl tul toddl...  09BF5150   C7E19    D06E
3  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6    98CF
4  easy keep feel warm cozy inf toddl girl hoody ...  2CEC27F1   ADAD6    98CF
5  newborn inf toddl boy hoody jacket oshkosh b g...  2CEC27F1   ADAD6    98CF
6  mit warm protect real stay dainty littl hand p...  09BF5150   C7E19    D06E
7  fal back cozy bas toughskin inf toddl girl mic...  2CEC27F1   ADAD6    98CF
8  ev smal lumberjack nee cozy look cool newborn ...  2CEC27F1   ADAD6    98CF
9  easy keep feel warm cozy inf toddl girl hoody ...  2CEC27F1   ADAD6    98CF

In [3]:
indices = random.sample(list(df.index), 2500)
df = df[df.index.isin(indices)]

del indices

df

,Description,Level_1,Level_2,Level_3
0,gerb cap help keep littl on head cov warm day ...,09BF5150,C7E19,D06E
4,easy keep feel warm cozy inf toddl girl hoody ...,2CEC27F1,ADAD6,98CF
7,fal back cozy bas toughskin inf toddl girl mic...,2CEC27F1,ADAD6,98CF
14,effortless styl start ad inf girl littl wond h...,2CEC27F1,ADAD6,98CF
15,toasty day inf toddl boy hoody jacket toughski...,2CEC27F1,ADAD6,98CF
...,...,...,...,...
10637,term 26 issu on year subscriptionauto round ma...,90A8B052,C719A,A0E2
10642,term 8 issu on year subscriptionyo sav 38 cov ...,90A8B052,C719A,A0E2
10643,term 12 issu on year subscriptionyo sav 63 cov...,90A8B052,C719A,A0E2
10644,term 10 issu on year subscriptionyo sav 75 cov...,90A8B052,C719A,A0E2
10645,term 12 issu on year subscriptionyo sav 86 cov...,90A8B052,C719A,A0E2

### Deal with Missing Data (4 marks)

In [4]:
# Check if data has missing values in the Description column
print("Na count: ", df['Description'].isna().sum())
print("Empty count: ", df['Description'].apply(lambda desc: str(desc).strip())[df['Description'] == ''].sum())

Na count:  2
Empty count:  0

In [5]:
# Deal with missing values
df = df.dropna()
df

,Description,Level_1,Level_2,Level_3
0,gerb cap help keep littl on head cov warm day ...,09BF5150,C7E19,D06E
4,easy keep feel warm cozy inf toddl girl hoody ...,2CEC27F1,ADAD6,98CF
7,fal back cozy bas toughskin inf toddl girl mic...,2CEC27F1,ADAD6,98CF
14,effortless styl start ad inf girl littl wond h...,2CEC27F1,ADAD6,98CF
15,toasty day inf toddl boy hoody jacket toughski...,2CEC27F1,ADAD6,98CF
...,...,...,...,...
10637,term 26 issu on year subscriptionauto round ma...,90A8B052,C719A,A0E2
10642,term 8 issu on year subscriptionyo sav 38 cov ...,90A8B052,C719A,A0E2
10643,term 12 issu on year subscriptionyo sav 63 cov...,90A8B052,C719A,A0E2
10644,term 10 issu on year subscriptionyo sav 75 cov...,90A8B052,C719A,A0E2
10645,term 12 issu on year subscriptionyo sav 86 cov...,90A8B052,C719A,A0E2

In [6]:
len(df)

2498

### Drop Classes where the number of instances is < 10 (4 marks)

In [7]:
# Apply to Level_1 
value_counts = df['Level_1'].value_counts()
to_delete = value_counts[value_counts < 10].index
df = df.drop(df[df['Level_1'].isin(to_delete)].index)

del value_counts
del to_delete

df

,Description,Level_1,Level_2,Level_3
0,gerb cap help keep littl on head cov warm day ...,09BF5150,C7E19,D06E
4,easy keep feel warm cozy inf toddl girl hoody ...,2CEC27F1,ADAD6,98CF
7,fal back cozy bas toughskin inf toddl girl mic...,2CEC27F1,ADAD6,98CF
14,effortless styl start ad inf girl littl wond h...,2CEC27F1,ADAD6,98CF
15,toasty day inf toddl boy hoody jacket toughski...,2CEC27F1,ADAD6,98CF
...,...,...,...,...
10637,term 26 issu on year subscriptionauto round ma...,90A8B052,C719A,A0E2
10642,term 8 issu on year subscriptionyo sav 38 cov ...,90A8B052,C719A,A0E2
10643,term 12 issu on year subscriptionyo sav 63 cov...,90A8B052,C719A,A0E2
10644,term 10 issu on year subscriptionyo sav 75 cov...,90A8B052,C719A,A0E2
10645,term 12 issu on year subscriptionyo sav 86 cov...,90A8B052,C719A,A0E2

In [8]:
# Apply to Level_2
df = df.set_index(['Level_1', 'Level_2'], drop=False)
value_counts = df.index.value_counts()
to_delete = value_counts[value_counts < 10].index

df = df.drop(to_delete)
df = df.reset_index(drop=True)

del value_counts
del to_delete

df

,Description,Level_1,Level_2,Level_3
0,gerb cap help keep littl on head cov warm day ...,09BF5150,C7E19,D06E
1,easy keep feel warm cozy inf toddl girl hoody ...,2CEC27F1,ADAD6,98CF
2,fal back cozy bas toughskin inf toddl girl mic...,2CEC27F1,ADAD6,98CF
3,effortless styl start ad inf girl littl wond h...,2CEC27F1,ADAD6,98CF
4,toasty day inf toddl boy hoody jacket toughski...,2CEC27F1,ADAD6,98CF
...,...,...,...,...
2466,term 26 issu on year subscriptionauto round ma...,90A8B052,C719A,A0E2
2467,term 8 issu on year subscriptionyo sav 38 cov ...,90A8B052,C719A,A0E2
2468,term 12 issu on year subscriptionyo sav 63 cov...,90A8B052,C719A,A0E2
2469,term 10 issu on year subscriptionyo sav 75 cov...,90A8B052,C719A,A0E2
2470,term 12 issu on year subscriptionyo sav 86 cov...,90A8B052,C719A,A0E2

In [9]:
# Apply to Level_3
df = df.set_index(['Level_1', 'Level_2', 'Level_3'], drop=False)
value_counts = df.index.value_counts()
to_delete = value_counts[value_counts < 10].index

df = df.drop(to_delete)
df = df.reset_index(drop=True)

del value_counts
del to_delete

df

,Description,Level_1,Level_2,Level_3
0,gerb cap help keep littl on head cov warm day ...,09BF5150,C7E19,D06E
1,easy keep feel warm cozy inf toddl girl hoody ...,2CEC27F1,ADAD6,98CF
2,fal back cozy bas toughskin inf toddl girl mic...,2CEC27F1,ADAD6,98CF
3,effortless styl start ad inf girl littl wond h...,2CEC27F1,ADAD6,98CF
4,toasty day inf toddl boy hoody jacket toughski...,2CEC27F1,ADAD6,98CF
...,...,...,...,...
2457,term 26 issu on year subscriptionauto round ma...,90A8B052,C719A,A0E2
2458,term 8 issu on year subscriptionyo sav 38 cov ...,90A8B052,C719A,A0E2
2459,term 12 issu on year subscriptionyo sav 63 cov...,90A8B052,C719A,A0E2
2460,term 10 issu on year subscriptionyo sav 75 cov...,90A8B052,C719A,A0E2
2461,term 12 issu on year subscriptionyo sav 86 cov...,90A8B052,C719A,A0E2

### Now let's write a Function to Prepare Text (4 marks)
We will apply it to our DataFrame later on

* This function receives a text string and performs the following:
* Convert text to lower case
* Remove punctuation marks
* Apply stemming using the popular Snowball or Porter Stemmer (optional)
* Apply NGram Tokenisation
* Return the tokenised text as a list of strings

In [10]:
from nltk.stem import PorterStemmer
from nltk import ngrams
import re

def process_text(text, n = 1):
    """
    Takes in a string of text, then performs the following:
    1. Convert text to lower case and remove all punctuation
    2. Optionally apply stemming
    3. Apply Ngram Tokenisation
    4. Returns the tokenised text as a list
    """
    # write steps here

    #1
    text = str.lower(text)
    text = re.sub(r"[^a-zA-Z0-9\s]", "", text)
    text = re.sub(r"[\s]+", " ", text).strip()

    words = text.split(" ")
    
    #2
    ps = PorterStemmer()
    words = [ps.stem(word) for word in words]

    #3
    groups = ngrams(words, n)

    #4
    tokenised = [" ".join(group) for group in groups]

    return tokenised

In [11]:
# Here is an example function call
process_text("Here we're testing the process_text function, results are as follows:", n = 3)

['here were test',
 'were test the',
 'test the processtext',
 'the processtext function',
 'processtext function result',
 'function result are',
 'result are as',
 'are as follow']

In [12]:
# Results should look like this:
['here were test',
 'were test the',
 'test the processtext',
 'the processtext function',
 'processtext function result',
 'function result are',
 'result are as',
 'are as follow']

['here were test',
 'were test the',
 'test the processtext',
 'the processtext function',
 'processtext function result',
 'function result are',
 'result are as',
 'are as follow']

### Now let's apply TF-IDF to extract features from plain text (10 marks)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

# Might take a while...
# Here you apply the process_text function to the Description column of the data
# Then you pass the results to the bag of words tranformer
# See here: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html
                
#transform
count_vectorizer = CountVectorizer(lowercase = True, ngram_range=(1,3), stop_words='english')
count_vector = count_vectorizer.fit_transform(df['Description'])

pd.DataFrame(count_vector.toarray(), columns=count_vectorizer.get_feature_names_out())

,00,00 23,00 23 00,00 ct,00 ct si1,00 ct tdw,00 ct tgw,00 mm,00 mm fin,00 ount,...,zum bag,zum bag answ,zum photo,zum photo ipad,zutano,zutano husband,zutano husband wif,zutano sail,zutano sail shirt,zx
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2458,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2460,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2461,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Now we can use .transform on our Bag-of-Words (bow) transformed object and transform the entire DataFrame of text file contents. Let's go ahead and check out how the bag-of-words counts for the entire corpus in a large, sparse matrix:

In [14]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

# After that you pass the result of the previous step to sklearn's TfidfTransformer
# which will convert them into a feature matrix
# See here: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html

tfidf_transformer = TfidfTransformer()
text_tfidf = tfidf_transformer.fit_transform(count_vector)

In [15]:
# The resulting matrix is in sparse format, we can transform it into dense
# Code prepared for you so you can see what results look like
text_tfidf = pd.DataFrame(text_tfidf.toarray(), columns=count_vectorizer.get_feature_names_out())

In [16]:
# This is an example result, the matrix will contain lots of zero values, that is expected
# Some values will be non-zero
text_tfidf.head()

,00,00 23,00 23 00,00 ct,00 ct si1,00 ct tdw,00 ct tgw,00 mm,00 mm fin,00 ount,...,zum bag,zum bag answ,zum photo,zum photo ipad,zutano,zutano husband,zutano husband wif,zutano sail,zutano sail shirt,zx
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Now the Data is Ready for Classifier Usage

### Split Data into Train and Test sets (4 marks)

In [17]:
# Train/Test split
import random
indices = list(text_tfidf.index)
random.shuffle(indices)
train_indices = indices[:int(len(indices) * 0.8)]
test_indices = indices[len(train_indices):]

X_train = text_tfidf[text_tfidf.index.isin(train_indices)]
X_test = text_tfidf[text_tfidf.index.isin(test_indices)]

y_train = df[df.index.isin(train_indices)]
y_test = df[df.index.isin(test_indices)]

del indices
del train_indices
del test_indices

In [18]:
# You might need to reset index in each dataframe (depends on you how you do things)
# done for you to make it clearer
X_train.reset_index(inplace=True, drop=True)
X_test.reset_index(inplace=True, drop=True)
y_train.reset_index(inplace=True, drop=True)
y_test.reset_index(inplace=True, drop=True)

In [19]:
# You might need to take classes as separate columns (depends on you how you do things)
class1 = y_train['Level_1'].astype(str)
class2 = y_train['Level_2'].astype(str)
class3 = y_train['Level_3'].astype(str)

enc_class1 = LabelBinarizer()
enc_class1.fit(df['Level_1'])

enc_class2 = LabelBinarizer()
enc_class2.fit(df['Level_2'])

LabelBinarizer()

## Model training for the three levels (8 marks)

In [20]:
# Create and save model for level 1
clf1 = LogisticRegression(random_state=0, max_iter=100).fit(X_train, class1)
with open('level1.pk', 'wb') as nb:
    pickle.dump(clf1, nb)

In [21]:
## Create and save models for level 2
X_train_2 = pd.concat([
    X_train,
    pd.DataFrame(enc_class1.transform(class1), columns=enc_class1.classes_),
], axis=1)
clf2 = LogisticRegression(random_state=0, max_iter=100).fit(X_train_2, class2)
with open('level2.pk', 'wb') as nb:
    pickle.dump(clf2, nb)

In [22]:
## Create and save models for level 3
X_train_3 = pd.concat([
    X_train,
    pd.DataFrame(enc_class2.transform(class2), columns=enc_class2.classes_),
], axis=1)
clf3 = LogisticRegression(random_state=0, max_iter=100).fit(X_train_3, class3)
with open('level3.pk', 'wb') as nb:
    pickle.dump(clf3, nb)

## Predict the test set (8 marks)

In [23]:
# Creating an empty Dataframe with column names only (depends on you how you do things)
results = pd.DataFrame(columns=['Level1_Pred', 'Level2_Pred', 'Level3_Pred'])

## Here we reload the saved models and use them to predict the levels
# load model for level 1 (done for you)
with open('level1.pk', 'rb') as nb:
    model1 = pickle.load(nb)

with open('level2.pk', 'rb') as nb:
    model2 = pickle.load(nb)

with open('level3.pk', 'rb') as nb:
    model3 = pickle.load(nb)

## loop through the test data, predict level 1, then based on that predict level 2
## and based on level 2 predict level 3 (you need to load saved models accordingly)

predict_1 = model1.predict(X_test)
predict_2 = model2.predict(pd.concat([
    X_test,
    pd.DataFrame(enc_class1.transform(predict_1), columns=enc_class1.classes_),
], axis=1))
predict_3 = model3.predict(pd.concat([
    X_test,
    pd.DataFrame(enc_class2.transform(predict_2), columns=enc_class2.classes_),
], axis=1))

In [24]:
pd.concat([
    y_test,
    pd.DataFrame({
        "Predict_Level1": predict_1,
        "Predict_Level2": predict_2,
        "Predict_Level3": predict_3,
    }),
], axis=1)

,Description,Level_1,Level_2,Level_3,Predict_Level1,Predict_Level2,Predict_Level3
0,dol happy sweep back hair back fun flap gal fl...,09BF5150,C7E19,D06E,09BF5150,C7E19,D06E
1,crinkl crep fabr pintuck eyelet trim tak canyo...,AAC8EE56,914A1,D97D,AAC8EE56,9B69F,80C4
2,shel beauty butterf girl sleeveless dress ashl...,AAC8EE56,914A1,D97D,AAC8EE56,914A1,D97D
3,purpl embroid dresspanty set,AAC8EE56,914A1,D97D,B092BA29,5A8AB,AA6B
4,giv perfect party dress season amy closet slee...,AAC8EE56,914A1,D97D,AAC8EE56,9B69F,80C4
...,...,...,...,...,...,...,...
488,term 24 issu on year subscriptionyo sav 58 cov...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
489,term 4 issu on year subscriptionyo sav 14 cov ...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
490,term 13 issu on year subscriptionyo sav 68 cov...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
491,term 12 issu on year subscriptionyo sav 67 cov...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
492,term 8 issu on year subscriptionyo sav 38 cov ...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2

In [25]:
## After you add the predictions to the results dataframe
predict_results = pd.DataFrame({
    "Level1_Pred": predict_1,
    "Level2_Pred": predict_2,
    "Level3_Pred": predict_3,
})
results = pd.concat([y_test, predict_results], axis = 1)
results

,Description,Level_1,Level_2,Level_3,Level1_Pred,Level2_Pred,Level3_Pred
0,dol happy sweep back hair back fun flap gal fl...,09BF5150,C7E19,D06E,09BF5150,C7E19,D06E
1,crinkl crep fabr pintuck eyelet trim tak canyo...,AAC8EE56,914A1,D97D,AAC8EE56,9B69F,80C4
2,shel beauty butterf girl sleeveless dress ashl...,AAC8EE56,914A1,D97D,AAC8EE56,914A1,D97D
3,purpl embroid dresspanty set,AAC8EE56,914A1,D97D,B092BA29,5A8AB,AA6B
4,giv perfect party dress season amy closet slee...,AAC8EE56,914A1,D97D,AAC8EE56,9B69F,80C4
...,...,...,...,...,...,...,...
488,term 24 issu on year subscriptionyo sav 58 cov...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
489,term 4 issu on year subscriptionyo sav 14 cov ...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
490,term 13 issu on year subscriptionyo sav 68 cov...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
491,term 12 issu on year subscriptionyo sav 67 cov...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2
492,term 8 issu on year subscriptionyo sav 38 cov ...,90A8B052,C719A,A0E2,90A8B052,C719A,A0E2

## Compute Accuracy on each level (4 marks)
Now you have the predictions for each level (in the test data), and you also have the actual levels, you can compute the accurcay

In [26]:
# Level 1 accuracy
matching_level1 = len(results[results["Level_1"] == results["Level1_Pred"]])
matching_level1 / len(results)

0.8093306288032455

In [27]:
# Level 2 accuracy
matching_level2 = len(results[results["Level_2"] == results["Level2_Pred"]])
matching_level2 / len(results)

0.6328600405679513

In [28]:
# Level 3 accuracy
matching_level3 = len(results[results["Level_3"] == results["Level3_Pred"]])
matching_level3 / len(results)

0.6288032454361054

## Well done!